<div id='map'>
  <p>google map</p>
</div>
	<script type="text/javascript">
	  function initMap() {
  	    var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
	    var map = new google.maps.Map(document.getElementById('map'), {
	      zoom: 15,
	      center: test
	    });
	    var transitLayer = new google.maps.TransitLayer();
	    transitLayer.setMap(map);

	    var contentString = '住所：<%= @address %>';
	    var infowindow = new google.maps.InfoWindow({
	      content: contentString
	    });

	    var marker = new google.maps.Marker({
	      position:test,
	      map: map,
	      title: contentString
	    });

	    marker.addListener('click', function() {
	      infowindow.open(map, marker);
	    });
	  }
	</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd9IrZQ0-p4By-M5vh78ASi8g8FcOFlz8&callback=initMap"
		type="text/javascript"></script>
	</script>