<div id='profile'>
	  <div id='icon'>
	    <%= image_tag user.user_image %>
	  </div>
	  <div id='propaty'>
	    <h2><b><%= user.name %></b></h2>
	    <p>ひとこと：<%= user.introduction %></p>
	  </div>
</div>
